<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>torrent</string>
				<string>tor</string>
				<string>vuze</string>
				<string>vuz</string>
				<string>bctpuri</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>Vuze.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-bittorrent</string>
				<string>application/x-bctp-uri</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Vuze Download</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>TORR</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>JavaApplicationStub</string>
	<key>CFBundleGetInfoString</key>
	<string>Vuze</string>
	<key>CFBundleIconFile</key>
	<string>Vuze.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.gudy.azureus2</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Vuze</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>4.6.0.4</string>
	<key>CFBundleVersion</key>
	<string>4.6.0.4</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>magnet url</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>magnet</string>
				<string>dht</string>
				<string>vuze</string>
				<string>bc</string>
				<string>bctp</string>
			</array>
		</dict>
	</array>
	<key>Java</key>
	<dict>
		<key>ClassPath</key>
		<string>/System/Library/Java:$JAVAROOT/swt.jar:$JAVAROOT/Azureus2.jar:$JAVAROOT/Vuze.jar</string>
		<key>JVMVersion</key>
		<string>1.5+</string>
		<key>MainClass</key>
		<string>org.gudy.azureus2.ui.swt.Main</string>
		<key>Properties</key>
		<dict>
			<key>azureus.nativelauncher</key>
			<string>1</string>			
			<key>java.library.path</key>
			<string>$JAVAROOT/dll</string>			
			<key>__browser.menu.enable</key>
			<string>1</string>
		</dict>
		<key>StartOnMainThread</key>
		<true/>
		<key>VMOptions</key>
		<string>-Xmx128m</string>
	</dict>
</dict>
</plist>